doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Api_Contact
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css' integrity='sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==' crossorigin='anonymous' referrerpolicy='no-referrer')
    link(rel="stylesheet", href="/css/style.css")
    script(src="css/app.js")
    
  body 
    .floating-contact-form
      .form-container
          h3 Nos gustaría brindarte más información
          form(action="/", method="POST")
            .field-container
              input(name = "nombreAsesorado" placeholder = 'Nombre' type='text' required)
              i.fas.fa-signature
            
            .field-container
              input(name = "celular" placeholder='Celular' type='text' required)
              i.fas.fa-phone

            .field-container
              input(name = "categoria" placeholder='Categoría' type='text' required)
              i.fas.fa-file

            .field-container
              input(name = "plataforma" placeholder='Plataforma' type='text' required)
              i.fas.fa-share-square

            .field-container
              input(name = "fechaAsesoria" placeholder='Fecha de la asesoría' onfocus="(this.type='date')" 
              onblur="(this.type='text')" type='date')
              i.fas.fa-calendar-alt
            
            input(type='submit')

      .contact-icon

        i.fas.fa-comments

    script.
      document.getElementById('.floating-contact-form .contact-icon').addEventListener("click", () => {
        document.getElementById('.floating-contact-form .form-container').classList.toggle("active");
      });

    



